{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
      "react",
      "jsx-a11y"
  ],
  parser: "babel-eslint",
  "extends": "airbnb",
}
