:global(html), :global(body) {
  height: 100%;
  overflow: hidden;
}

:global(.full-height),
:global(#root),
:global(.app),
:global(.home-page) {
  height: 100%;
}

:global(.devops) {
  margin-right: 30;
  background-color: #ff2d3c;
}
